@page "/example"
@inject HttpClient Http
@using FInDashboardWASM.Shared.Models

<h3>example</h3>

@if (@companyData == null) { }
else{
<h1>@companyData.Name</h1>

<img src="@companyData.LogoLink" />

}
@code {



    private CompanyData companyData;



    protected override async Task OnInitializedAsync()
    {

        companyData = await Http.GetFromJsonAsync<CompanyData>("/api/CompanyData/AAPL");

        var name = companyData.Name;


    } 

    

}
